---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
const description = "Blog Tags";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <div class="flex flex-wrap">
    {
      tags.map((tag) => (
        <p class="p-4 border-2 border-dark m-1 text-2xl bg-dark">
          <a class="text-white" href={`/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
