---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import devguy from "/public/images/developer-guy.png";
import Button from "../components/Button.astro";

const pageTitle = "Startseite";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="flex flex-col xl:flex-row justify-between items-center">
    <section
      class="w-3/4 sm:w-3/5 xl:w-1/2 flex justify-center items-center py-10 animate-fadeInSlideUp"
    >
      <Image
        src={devguy}
        width={1200}
        height={1100}
        quality={80}
        alt="Ein Programmierer mit Laptop"
      />
    </section>
    <section
      class="w-full xl:w-1/2 flex flex-col justify-between items-center xl:items-start"
    >
      <section
        class="text-4xl md:text-6xl text-center xl:text-start mb-4 animate-fadeInSlideUp"
      >
        <br />
        <span
          id="dynamic-header-text"
          class="text-rose-600 dark:text-green-400 border-r-4 border-r-black dark:border-r-light"
          ><p>Eat</p></span
        ><br />
      </section>
      <section class="mb-6 text-center xl:text-start leading-relaxed">
        <p class="animate-fadeInSlideUp">
          Schön, dass du es auf meine Seite geschafft hast. Schau dich gerne in
          aller Ruhe um. Alle wichtigen Informationen findest du auf der
          Blog-Seite. Wenn du mir schreiben möchtest – egal ob
          Verbesserungswünsche, Lob oder Kritik – steht dir der Contact-Button
          jederzeit zur Verfügung.<br />
          In diesem Sinne: Cheers 🥂
        </p>
        <div class="flex justify-center lg:justify-start animate-fadeInSlideUp">
          <Button
            url="mailto:akcengiz@gmx.de"
            title="Contact"
            external={true}
          />
        </div>
      </section>
    </section>
  </section>
</BaseLayout>

<!-- Zeile 8 habe ich das heraus kopiert weil es sonst auf der HeroPage mit angezeigt wird "description="Akansel Cengiz Webseite" -->
<!-- Ich habe im Button, NavigationSocialBar und im Header die Icons von Rounded-full auf Eckig umgestellt -->
