---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Portfolio | Akansel Cengiz";
const description = "Mein Portfolio";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="animate-fadeInSlideUp">
    <p>Diese Webseite ist teil meines Portfolios.</p>
  </section>
</BaseLayout>
