---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Meine Projekte";
const description = "Mein Portfolio";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <!--------------- First Card --------------->
  <!-- <h1 id="projekte">Meine Projekte!</h1>
  <p>
    Selbstverständlich ist diese komplette Seite mein bisher größtes Projekt.
    Ich habe auch einige kleinere Projekte erfolgreich abgeschlossen. Fühle dich
    frei und schau dich
  </p>
 
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
 
    <div
      class="mt-6 px-4 py-4 flex flex-col rounded-2xl bg-neutral-200 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition hover:translate-y-5 hover:shadow-dark border-2 border-dark dark:border-light"
    >
      <a href="#!">
        <img
          class="rounded-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/044.webp"
          alt="Skyscrapers"
        />
      </a>
      <div class="pt-6">
        <h5
          class="mb-2 text-2xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          Card title
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-t-dark border-neutral-100 dark:border-light px-6 py-3 text-center dark:text-neutral-50"
      >
        <small>Last updated 3 mins ago</small>
      </div>
    </div>

    <!--------------- Second Card --------------->
  <!--<div
      class="mt-6 px-4 py-4 flex flex-col rounded-2xl bg-neutral-200 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition hover:translate-y-5 hover:shadow-dark border-2 border-dark dark:border-light"
    >
      <a href="#!">
        <img
          class="rounded-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Los Angeles Skyscrapers"
        />
      </a>
      <div class="pt-6">
        <h5
          class="mb-2 text-2xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          Card title
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-t-dark border-neutral-100 px-6 py-3 text-center dark:text-neutral-50 dark:border-light"
      >
        <small>Last updated 3 mins ago</small>
      </div>
    </div> -->

  <!--------------- Third Card --------------->
  <!-- <div
      class="mt-6 px-4 py-4 flex flex-col rounded-2xl bg-neutral-200 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition hover:translate-y-5 hover:shadow-dark border-2 border-dark dark:border-light"
    >
      <a href="#!">
        <img
          class="rounded-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/042.webp"
          alt="Palm Springs Road"
        />
      </a>
      <div class="pt-6">
        <h5
          class="mb-2 text-2xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          Card title
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-t-dark border-neutral-100 px-6 py-3 text-center dark:border-light dark:text-neutral-50"
      >
        <small>Last updated 3 mins ago</small>
      </div>
    </div>
  </div> -->

  <!-- follow me on twitter @asad_codes -->

  <!-- <div class="flex flex-wrap place-items-center h-screen"> -->
  <!-- card -->
  <!-- <div
      class="overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto"
    >
      <a href="#" class="w-full block h-full">
        <img
          alt="blog photo"
          src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
          class="max-h-40 w-full object-cover"
        />
        <div class="bg-white w-full p-4">
          <p class="text-indigo-500 text-2xl font-medium">
            Should You Get Online Education?
          </p>
          <p class="text-gray-800 text-sm font-medium mb-2">
            A comprehensive guide about online education.
          </p>
          <p class="text-gray-600 font-light text-md">
            It is difficult to believe that we have become so used to having
            instant access to information at...
            <a class="inline-flex text-indigo-500" href="#">Read More</a>
          </p>
          <div
            class="flex flex-wrap justify-starts items-center py-3 border-b-2 text-xs text-white font-medium"
          >
            <span class="m-1 px-2 py-1 rounded bg-indigo-500"> #online</span>
            <span class="m-1 px-2 py-1 rounded bg-indigo-500"> #internet</span>
            <span class="m-1 px-2 py-1 rounded bg-indigo-500"> #education</span>
          </div>
          <div class="flex items-center mt-2">
            <img
              class="w-10 h-10 object-cover rounded-full"
              alt="User avatar"
              src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200"
            />

            <div class="pl-3">
              <div class="font-medium">Jean Marc</div>
              <div class="text-gray-600 text-sm">CTO of Supercars</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->
</BaseLayout>
