---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Was verwende ich";
const description = "Mein komplettes Setup";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <!-- <h1 id="uses">Was verwende ich?</h1> -->
  <p>Hier kannst du meinen CV herunter laden.</p>
</BaseLayout>
