<!-- <section
  class="mx-auto my-4 flex w-full flex-col overflow-hidden rounded-2xl bg-white text-gray-900 transition hover:translate-y-2 hover:shadow-lg"
> --><!--
    <section>
    <a href="#">
      <img
        src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhcnRuZXJzaGlwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        class="h-56 w-full object-cover"
        alt=""
      />
      <div class="flex-auto px-6 py-2">
        <h3 class="mt-4 mb-3 text-xl font-semibold xl:text-2xl">
          We came first in Awards ceremony 2021
        </h3>
        <p class="mb-4 text-base font-light">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam tempore
          officiis. Lorem, ipsum dolor.
        </p>
        <span
          class="inline-block cursor-pointer select-none rounded-full border border-gray-800 bg-gray-800 px-2 py-1 text-center align-middle text-sm font-semibold leading-normal text-white no-underline shadow-sm"
          >Learn More</span
        >
      </div>
    </a>
  </article>
</section> --><!-- </article>
</section> --><!-- <div class="border-2 border-dark dark:border-light p-2 rounded-xl text-center">
  <div class="bg-dark dark:bg-light text-light dark:text-dark rounded-md py-2">
    <slot name="title" />
  </div>
  <slot />
</div> --><!-- <div class="border-2 border-dark dark:border-light p-2 rounded-xl text-center">
  <div class="bg-dark dark:bg-light text-light dark:text-dark rounded-md py-2">
    <slot name="title" />
  </div>
  <slot />
</div> -->
