{
  /*  

<body
  class="bg-[url('unsplash.jpg')] bg-cover"
  x-data="{ openMenu : false }"
  :class="openMenu ? 'overflow-hidden' : 'overflow-visible' "
>
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>

  <header class="flex w-full justify-between px-6 items-center">
    <!-- Logo Icon Navbar Left Side -->
    <a href="/">
      <img src="/ac1.png" class="w-8 text-lg font-bold" alt="Ein Logo" />
    </a>
    <nav class="hidden">
      <NavigationLinks />
    </nav>

    <!-- Mobile Menu Toggle -->
    <button
      class="flex lg:hidden flex-col items-center align-middle"
      @click="openMenu = !openMenu"
      :aria-expanded="openMenu"
      aria-controls="mobile-navigation"
      aria-label="Navigation Menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <span class="text-xs">Menu</span>
    </button>
  </header>

  <!-- Pop Out Navigation -->
  <nav
    id="mobile-navigation"
    class="fixed top-0 right-0 bottom-0 left-0 backdrop-blur-sm z-10"
    :class="openMenu ? 'visible' : 'invisible' "
    x-cloak
  >
    <!-- UL Links -->
    <ul
      class="absolute top-0 right-0 bottom-0 w-10/12 py-4 bg-white drop-shadow-2xl z-10 transition-all text-inherit text-dark"
      :class="openMenu ? 'translate-x-0' : 'translate-x-full'"
    >
      <li class="border-b border-inherit">
        <a
          href="/"
          class="text-inherit block hover:bg-slate-300"
          aria-current="true"
          ><span class="text-lg p-1">⌂</span>
           Home
        </a>
      </li>
      <li class="border-b border-inherit p-3">
        <a href="/about" class="text-inherit block p-4 hover:bg-slate-300">
          About
        </a>
      </li>
      <li class="border-b border-inherit p-3">
        <a href="/blog" class="text-inherit block p-4 hover:bg-slate-300">
          Blog</a
        >
      </li>
      <li class="border-b border-inherit p-3">
        <a href="/resumee" class="text-inherit block p-4 hover:bg-slate-300"
          >Resumee</a
        >
      </li>
      <li class="border-b border-inherit p-3">
        <a
          href="/testimonials"
          class="text-inherit block p-4 hover:bg-slate-300">Testimonials</a
        >
      </li>
      <li class="border-b border-inherit p-3">
        <a
          href="mailto:akcengiz@gmx.de"
          class="text-inherit block p-4 hover:bg-slate-300">Contact</a
        >
      </li>
    </ul>

    <!-- Close Button -->
    <button
      class="absolute top-0 right-0 bottom-0 left-0"
      @click="openMenu = !openMenu"
      :aria-expanded="openMenu"
      aria-controls="mobile-navigation"
      aria-label="Close Navigation Menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 absolute top-2 left-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </nav>
</body>

*/
}
