---
import NavigationLinks from "../components/NavigationLinks.astro";
import NavigationSocialBar from "../components/NavigationSocialBar.astro";
import Hamburger from "./Hamburger.astro";
// import { Icon } from "astro-icon";

// import { SITE_TITLE } from "../consts";
---

<section class="bg-[#e0e2e6] border-b-2 border-gray-300/30
  shadow-lg">
  <header
    class="flex md:items-center lg:justify-center md:justify-start xl:justify-between md:py-8 py-8 px-4 dark:text-dark"
  >
    <a href="/" class="flex items-center justify-around gap-3">
      <img
        src="/ac1.png"
        class="w-12 animate-jump duration-1000 hover:duration-0 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)]"
        alt="Akansel Cengiz Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >Akansel Cengiz</span
      >
    </a>
    <nav class="flex w-3/4 justify-end lg:hidden">
      <Hamburger />
    </nav>

    <nav class="hidden lg:flex items-center justify-center gap-x-8 text-2xl">
      <NavigationLinks />
    </nav>

    <nav class="hidden lg:flex items-center justify-center gap-x-5">
      <section
        id="themeToggle"
        class="hover:cursor-pointer border-2 border-dark bg-dark dark:bg-yellow-200 p-1"
      >
        <!-- <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" /> -->

        <!-- <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" /> -->
        <!-- <Icon name="line-md:moon-rising-loop" width="21" height="21" /> -->
      </section>
    </nav>
  </header>
</section>

<!-- Zeile 9 wurde dark:text-dark ,bg-gray-200, border-b-2 hinzugefügt -->
<!-- Zeile 9 Font-Medium entfernt -->
<!-- Zeile 10 wurde hidden hinzugefügt um die Top Nav auszublenden -->
<!-- Zeile 4+28 wurden Testweise hinzugefügt -->
