<!-- <div class="nav-links">
  <a href="/"><span>⌂ Home</span></a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/resume/">Resume</a>
  <a href="/testimonials/">Testimonials</a>
  <a href="mailto:akcengiz@gmx.de">Contact</a>
</div> -->
