---
import Hamburger from "./Hamburger.astro";
---

<section
  class="fixed top-0 lg:hidden shadow-lg border-t-2
  border-gray-300/30 bg-[#e0e2e6]"
>
  <nav
    class="flex items-center justify-center
    w-screen h-20 pl-2 gap-x-1 dark:text-dark
    lg:gap-8 md:gap-8 sm:gap-8
    lg:text-2xl md:text-xl sm:text-xl"
  >
    <Hamburger />
    <!-- <NavigationLinks /> -->
  </nav>
</section>
