<script>
  class PageHandler {
    // der Konstruktor wird beim Erstellen einer neuen Instanz der Klasse ausgeführt.
    constructor() {
      // Hier werden alle Funktionen aufgerufen, die beim Laden der Seite ausgeführt werden sollen.
      // Wenn im localStorage der Wert "theme" auf "dark" gesetzt ist, wird der Klasse "dark" auf dem HTML-Element hinzugefügt.
      if (localStorage.getItem("theme") == "dark") {
        document.documentElement.classList.add("dark");
      }

      // Initiale Funktionen welche beim Laden der Seite ausgeführt werden sollen.
      this.setThemeIcon();

      // Event-Listener für den Dark-Mode-Switch
      // Bei Klick auf den Switch wird die Klasse "dark" auf dem HTML-Element hinzugefügt oder entfernt.
      document.querySelector("#themeToggle").addEventListener("click", () => {
        document.documentElement.classList.toggle("dark");

        if (localStorage.getItem("theme") == "dark") {
          localStorage.setItem("theme", "");
        } else {
          localStorage.setItem("theme", "dark");
        }

        this.setThemeIcon();
      });
    }

    // Diese Funktion setzt das Icon für den Dark-Mode-Switch.
    setThemeIcon() {
      let colorSwitch = document.querySelector("#themeToggle");
      if (colorSwitch === null) return;

      if (localStorage.getItem("theme") == "dark") {
        colorSwitch.innerHTML = `
        <img src="/icons/sun.svg?a=${Math.random()}" alt="sun" class="w-6 h-6" />
      `;
      } else {
        colorSwitch.innerHTML = `
        <img src="/icons/moon.svg?a=${Math.random()}" alt="sun" class="w-6 h-6" />
      `;
      }
    }
  }

  const init = () => {
    new PageHandler();
  };

  document.addEventListener("DOMContentLoaded", () => init());
</script>

<div
  id="themeToggle"
  class="hover:cursor-pointer border-2 border-dark bg-dark dark:bg-yellow-200 p-1"
>
  <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" />
</div>

<!-- Ich habe probiert den alten JS Code für den colorToggle zu ersetzen  -->
