---
import NavigationMobile from "../components/NavigationMobile.astro";
import "../styles/global.css";

import "@fontsource/ubuntu/300.css";
import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/500.css";
import "@fontsource/ubuntu/700.css";

const { pageTitle, description } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" sizes="192x192" href="/ac4.png" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-light dark:bg-dark text-dark dark:text-light">
    <main
      id="swup"
      class="swup-transition-fade relative min-xl:container md:mx-auto w-full min-h-screen"
    >
      <article class="text-lg md:text-2xl px-4 py-8">
        <slot />
      </article>

      <NavigationMobile />
    </main>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
